@charset "UTF-8";

/* ========================================================== 
                            Resets
========================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
}

/* ========================================================== 
							Fonts
========================================================== */

@font-face {
	font-family: 'Poppins';
	src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: 'Poppins-Bd';
	src: url(./assets/fonts/Poppins-Bold.ttf);
}


/* ========================================================== 
							Colors
========================================================== */

/* #23283e; #2a2f4c; #bdbddd; #cdcdff; #90a0d9 */

/* ========================================================== 
                Body - Wrapper - Sections
========================================================== */

body {
	font-family: 'Poppins';
    background-color: #23283e;
    padding-block: 4vh;
    text-align: center;
    min-width: 300px;
    max-width: 900px;
    min-height: 100vh;
    margin: 0 auto;
    color: #cdcdff;
}

#root {
	padding-inline: 5%;
}


h2 {
    font-family: 'Poppins-Bd';
    font-size: 1.2rem;
    padding-block: 20px;
}

h3 {
    font-family: 'Poppins-Bd';
    font-size: 1rem;
    padding-block: 10px;
}

p {
    font-size: 0.7rem;
    padding-block-end: 20px;
	color: #bdbddd
}

a {
    font-size: 0.8rem;
    display: inline-block;
	color: #bdbddd
}

address {
	margin: 0 auto;
	font-style: normal;
	font-size: 0.8rem;
	margin-top: 10vh;
	cursor: pointer;
	width: max-content;
}

address:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #bdbddd;
    transition: width .3s;
}

address:hover:after {
    width: 100%;
}